
# Azure logic apps artifacts
bin
obj
lib
appsettings.json
local.settings-original copy.json
__blobstorage__
.debug
__queuestorage__
__azurite_db*__.json

# Added folders and file patterns
workflow-designtime/

